body{
    background-image: url("./Images/example/images.jpg");
}
.hundred{
    
    margin: 1em 7em 1em 7em;
    border: 1px solid;
    background-color: white;
}
header{
    background-color: gray;
}

.one{
    text-indent: 4em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    border: 1px solid transparent;
    width: 12.7em;
    color: white;
    margin-bottom: 0;
}
.two{
    margin-top: 0;
    text-indent: 9.9em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    letter-spacing: 1px;
    width: 26em;
    border: 1px solid transparent;
}
nav{
    background-color: darkgrey;
}
li{
    display: inline-block;
}
.three{
    text-decoration: none;
    color: white;
}
.three:hover{
    color: black;
}

.four{
    padding-left: 4em;
}
figure{
    border: 1px solid whitesmoke;
    border-width: 3px 3px 1px 3px;
    float: left; 
    margin-top: 0%;    
}

.five{
    border-right: 1px solid;
    width: 45em;
}
.six{
    font-size: larger;
}
.seven{
    color:deeppink;
}
.eight{
    text-decoration: none;
    color: deeppink;
/*    border-bottom: 1px solid gainsboro;*/
    padding-bottom: 10px;
    line-height: 2.5;
    padding-left: 0.3em;
}
.nine{
    font-weight: lighter;
    color: deeppink;
}
.eleven{
    line-height: 0%;
}
.ten{
    position: absolute;
    right: 11em;
    top: 9em;
}
footer{
    background-color:gray;
    color:white ;
    padding-top: 5px;
    padding-bottom: 5px;
}
.thirteen{
    line-height: 0%;
}
