.two{
    color:blue;
    opacity: 0.8;
    text-shadow: 1px 1px 2px gray;  
}
.one{
    text-indent: 1em;
    line-height: normal;
}
.three{
    font-family: Arial, Helvetica, sans-serif;
    color: deepskyblue;
    letter-spacing: 0.04em;
    font-variant: small-caps;
    text-transform: uppercase;
}
span{
    color: deepskyblue;
}
.four{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.five{
    margin-left: 1em;
}
.six{
    color: deepskyblue;
}
.seven{
    font-family: Arial, Helvetica, sans-serif;
}
.eight{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}